*{
    font-family: 'Quicksand', sans-serif;
    font-style: none;
}

head,body{
    background-color: #212121;
    padding: 20px;
    overflow: hidden;
    color: #f4f4f2;
}

hr {
    height: 1px;
    width: 10%;
    border-style: dotted none none;
    border-width: 5px;
    border-color: #064c4e;
}
 
button{
    margin: 0 auto;
}


.main{
    padding: 16px;
}

p{
    font-size: large;
}

#welcome{
    font-size: 46px;
    animation: appear 2.5s;
    animation-delay: 2;
}

.intro{
    opacity: 0;
    animation: appear 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.visible{
    opacity: 0;
    animation: appear 2.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#data{
    font-size: 24px;
    padding: 12px;
    font-size:large;
    margin:0, auto;
    border: 3px, solid;
    border-style: solid;
    border-color: #0D7377;
    border-radius: 12px;
    background-color: #323232;
    border-spacing: 30px;
    text-align: center;
    width: 800px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: transform 0.2s;
}

#data:hover{
    transform: scale(1.2);
}

button{
    transition: transform 0.1s;
    background-color:#313131;
    border-color: #064c4e;
    border-style:solid;
    border-radius: 3px;
    color:white;
}

button:hover{
    transform: scale(1.1);
    border-color: #0D7377;
}

/* table appearing animation */
@keyframes appear{  
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');